body {
    background-color: #2899C9;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    color: #494B4A;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}
#logo {
    border-radius: 100%;
    width: 50px;
    margin: auto;
}
#navBar {
    top: 0;
    position: sticky;
    background-color: #0080AD;
    width: 100%;
    height: 55px;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 75px 200px 200px;
    grid-column-gap: 0px;
    transition: background-color 500ms ease-in-out 0s;
    -o-transition: background-color 500ms ease-in-out 0s;
    -webkit-transition: background-color 500ms ease-in-out 0s;
    -moz-transition: background-color 500ms ease-in-out 0s;
}
#navBar:hover {
    background-color: #494B4A;
    grid-template-columns: 75px 200px 225px;
} 
#navBar div a {
    margin-top: 3px;
    display: block;
    font-size: 40px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 70px;
    width: 200px;
    text-align: center;
    opacity: 100%;
    color: #494B4A;
    transition: color 500ms ease-in-out 0s;
    -o-transition: color 500ms ease-in-out 0s;
    -webkit-transition: color 500ms ease-in-out 0s;
    -moz-transition: color 500ms ease-in-out 0s;
}
#navBar:hover div a {
    overflow: visible;
    color: #55AED9;
}
#navBar * {
    display: inline;
    top: 0;
}
#navBar div {
    background-color: rgba(0, 0, 0, 0);
    height: 55px;
    width: 200px;
    transition: background-color 500ms ease-in-out 0s;
    -o-transition: background-color 500ms ease-in-out 0s;
    -webkit-transition: background-color 500ms ease-in-out 0s;
    -moz-transition: background-color 500ms ease-in-out 0s;
}
#navBar:hover div {
    width: 225px;
}
#navBar div:hover {
    background-color: rgba(0, 0, 0, 100%);
}
img {
    width: 100%;
}
h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
}
h3 {
    text-decoration: underline;
    font-size: 30px;
}
.button {
    display: block;
    background-color: #0080AD;
    border-radius: 50%;
    margin: auto;
    height: 40px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    transition: background-color 500ms ease-in-out 0s;
    -o-transition: background-color 500ms ease-in-out 0s;
    -webkit-transition: background-color 500ms ease-in-out 0s;
    -moz-transition: background-color 500ms ease-in-out 0s;
}
.button:hover {
    background-color: #55AED9;
}