body {
    background-color: #2899C9;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    color: #494B4A;
    font-family: "Roboto", sans-serif;
}
img {
    width: 100%;
}
#logo {
    border-radius: 100%;
    width: 35px;
    margin: auto;
    margin-left: 10px;
    padding: 2px 0;
}
#navBar {
    top: 0;
    bottom: 0;
    position: sticky;
    background-color: #0080AD;
    width: 100%;
    height: 40px;
    display: grid;
    grid-template: 40px / 55px 125px 125px 125px;
    grid-column-gap: 0px;
    transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    z-index: 10;
}
#navBar:hover {
    background-color: #494B4A;
} 
#navBar div a {
    margin-top: 3px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    width: 125px;
    text-align: center;
    padding: 3px 0 0 0;
    opacity: 100%;
    color: #494B4A;
    transition: color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
    -webkit-transition: color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
}
#navBar:hover div a {
    overflow: visible;
    color: #55AED9;
}
#navBar * {
    display: inline;
    top: 0;
    bottom: 0;
}
#navBar div {
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    width: 125px;
    transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
}
#navBar div:hover {
    background-color: rgba(0, 0, 0, 100%);
}
h1 {
    text-decoration: underline;
    text-align: center;
}
h3 {
    text-decoration: underline;
}
.button {
    background-color: #0080AD;
    border-radius: 50%;
    width: 12.5%;   
    min-width: 150px;
    height: 25px;
    font-size: 20px;
    padding: 0 4px 0 4px;
    margin: 0 5px 0 5px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
}
.button:hover {
    background-color: #55AED9;
}
.flushLeft {
    margin-right: auto;
}
.flushRight {
    margin-left: auto;
}
#buttons {
    display: grid;
    grid-template: 25px / auto auto;;
}