body {
    background-color: #2899C9;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    color: #494B4A;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}
#logo {
    border-radius: 100%;
    width: 50px;
    margin: 3px;
}
#navBar {
    top: 0;
    position: sticky;
    background-image: linear-gradient(to right, #0080AD, #55AED9);
    width: 100%;
    height: 55px;
    display: grid;
    grid: 50px / 50px 225px 225px;
    grid-gap: 25px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

#navBar div a {
    font-size: 40px;
    text-decoration: none;
    height: 70px;
    width: 225px;
    text-align: center;
    opacity: 100%;
}
#navBar * {
    display: inline;
    top: 0;
}
#navBar div {
    background-image: linear-gradient(to left, #0080AD, #55AED9);
}
#navBar div:hover {
    animation: fadeIn 2s ease-in-out 0s forwards;
}
img {
    width: 100%;
}
h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
}
h3 {
    text-decoration: underline;
    font-size: 30px;
}
.button {
    display: block;
    background-color: #0080AD;
    border-radius: 50%;
    margin: auto;
    height: 25px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background-color: #55AED9;
}